.esc {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: right;
}

.Login_container_form span {
    font-size: small;
    color: red;
    margin: 0;
    padding: 0;
}

.Login_container_form {
    height: max-content;
    width: 400px;
    background-color: #28272f;
    /* position: absolute; */
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.Login_container_form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.Login_container_form h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: flex;
    position: relative;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.Login_container_form_input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #37363e;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.Login_container_form_button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social div {
    background: red;
    width: 200px;
    margin: 10px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social img {
    margin-right: 5px;
}

.cadastrar {
    margin-top: 5px;
}